:root {
  --primary-color: #fff;
  --nav-color: rgb(212, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* background-image: linear-gradient(90deg, #d70018e6, #d70018e6); */
  text-align: center auto;
}
.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.navbar {
  background: var(--nav-color) !important;
}
.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 1000;
}
#navbarsExampleDefault {
  width: 100%;
}
.navbar .container {
  max-width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.collapse .navbar-nav .nav-item a {
  color: #ffffff;
  font-weight: 600;
}

.navbar-dark .navbar-nav .active > .nav-link:hover {
  color: #343a40;
}

.navigation {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}



.nav-item {
  font-size: 18px;
  padding: 0 6px;
}

.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}
li.nav-item.dropdown:hover ul.dropdown-menu {
  display: block;
}

li.nav-item.dropdown:hover ul.dropdown-menu a {
  color: black;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
}
li.nav-item.dropdown:hover ul.dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
li.nav-item.dropdown:hover ul.dropdown-menu li i {
  margin-left: 0;
  margin: 5px;
}

.container.mb-4{
	margin-top: 15px;
}

footer {
  background: #343a40;
  padding: 40px;
  bottom: 0;
}
footer a {
  color: #f8f9fa !important;
}

#form-product-quantity {
  align-items: center;
  justify-content: center;
  width: 150px;
  text-align: center;
}

#form-product-quantity .form-control {
  max-width: 10%;
}

input {
}

.qtySelector {
  border: 1px solid #ddd;
  width: 100%;
  height: 35px;
  margin: 10px auto 0;
}
.qtySelector .fa {
  padding: 10px 5px;
  width: 35px;
  height: 100%;
  float: left;
  cursor: pointer;
}
.qtySelector .fa.clicked {
  font-size: 12px;
  padding: 12px 5px;
}
.qtySelector .fa-minus {
  border-right: 1px solid #ddd;
  width: 25%;
}
.qtySelector .fa-plus {
  border-left: 1px solid #ddd;
  width: 25%;
}
.qtySelector .qtyValue {
  border: none;
  padding: 5px;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

#search {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
  }
  .container .mb-4 {
    max-width: 100%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  td {
    display: inline-block;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .btn-select-product {
    float: left !important;
  }

  .table {
    table-layout: fixed;
  }

  .table thead,
  tbody {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 60%;
  }

  tr {
    display: flex;
  }

  tr #product-img img {
    height: 50px;
    width: 50px;
    object-fit: fill;
  }

  .table td {
    width: calc(100% / 6);
  }

  #checkcol {
    width: calc(100% / 10);
  }
  thead tr th {
    width: calc(100% / 6);
  }
  tbody tr td {
    width: calc(100% / 6);
  }

  #form-product-quantity {
    align-items: center;
    justify-content: center;
    width: calc(100% / 5) !important;
    text-align: center;
    padding: 0 !important;
  }

  td.btn-select-product {
    width: calc(100% / 10);
  }

  .table thead tr th,
  tbody tr td {
    padding: 6px !important;
  }

  #product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: start;
  }

  .qtySelector {
    margin-top: 0 !important;
  }
  #form-product-quantity .qtySelector i {
    /* width: 15px;
    border: 1px solid red; */
  }

  #form-product-quantity .qtySelector i.fa.fa-minus {
    background-color: #d33c43;
  }

  #form-product-quantity .qtySelector i.fa.fa-plus {
    background-color: green;
  }

  .container.mb-4 > .row {
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 9px 9px 18px #a6a6a6, -9px -9px 18px #ffffff;
  }

  li.nav-item.dropdown:hover ul.dropdown-menu {
    display: block;
  }

  li.nav-item.dropdown:hover ul.dropdown-menu a {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
  }
  li.nav-item.dropdown:hover ul.dropdown-menu li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  li.nav-item.dropdown:hover ul.dropdown-menu li i {
    margin-left: 0;
    margin: 5px;
  }

  .m-auto {
    margin: 0 !important;
  }

  .col-sm-12 {
    margin-bottom: 10px;
  }

  #searchForm a {
    margin-top: 10px;
    margin-left: 0 !important;
  }

  .dropdown-menu {
    width: 50%;
  }
}

#form-product-quantity .qtySelector i.fa.fa-minus {
  background-color: #d33c43;
}

#form-product-quantity .qtySelector i.fa.fa-plus {
  background-color: green;
}

.container.mb-4 > .row {
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 9px 9px 18px #a6a6a6, -9px -9px 18px #ffffff;
}

.col-sm-12 .btn {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  /* background: #f5f2f0; */
  box-shadow: 26px 26px 100px #626160, -26px -26px 100px #ffffff;
}

.col-sm-12 ~ .btn {
  background: #f5f2f0;
}

#product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: start;
}




#searchText{
  width: 70%;
}


.input-group-append{
  height: 30px;
}

.input-group-append button{
  width: 30px;
}

.btn-success{
	height: 30px;
	width: 100px;
	font-size: 16px;
}
.dropdown-menu{
	width: 150px;

}